In [1]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
df = pd.read_csv("financialdata.csv")
df.head()

,id,items,ticker,competitor,total_receivables,total_assets,cash_and_short_term_inv,total_liabilities,total_debt,total_equity,...,debt_to_equity,equity_ratio,gross_profit_margin,net_inc_margin,quick_ratio,return_on_assets,return_on_equity,operating_margin,working_capital,working_cap_turnover
0,DELLQ32023,Q3 2023,DELL,AAPL,16346.0,85172,4909.0,88641,27329,-3469,...,-7.878063,-24.552321,0.230856,0.009911,0.408695,0.002877,-0.070626,0.030824,-13220.0,-1.869970
1,DELLQ42023,Q4 2023,DELL,AAPL,17763.0,89611,8607.0,92733,29588,-3122,...,-9.477258,-28.703075,0.229881,0.024522,0.510512,0.006852,-0.196669,0.051719,-9303.0,-2.691497
2,DELLQ12024,Q1 2024,DELL,AAPL,14412.0,84094,7631.0,87117,28432,-3023,...,-9.405227,-27.818062,0.239843,0.027865,0.470753,0.006933,-0.192855,0.051095,-9433.0,-2.217958
3,DELLQ22024,Q2 2024,DELL,AAPL,15158.0,85658,8364.0,88430,27138,-2772,...,-9.790043,-30.901154,0.234891,0.020145,0.461741,0.005394,-0.166667,0.050798,-11943.0,-1.920288
4,DELLQ32024,Q3 2024,DELL,AAPL,14260.0,83264,8298.0,85928,26617,-2664,...,-9.991366,-31.255255,0.231360,0.045211,0.461526,0.012082,-0.377628,0.066784,-11890.0,-1.871405

In [3]:
df.count()

id                              25090
items                           25090
ticker                          25090
competitor                      25090
total_receivables               21519
total_assets                    25090
cash_and_short_term_inv         21873
total_liabilities               25090
total_debt                      25090
total_equity                    25090
cost_of_revenue                 20156
gross_profit                    20156
operating_income                23988
interest_expense                23988
interest_coverage               23985
total_cost_of_revenue           15307
total_inventory                 15306
inventory_turnover              15305
total_revenue                   24864
net_income                      24864
quick_assets                    21527
tot_curr_assets                 22089
total_current_liab              22089
accounts_receivable_turnover    21484
avg_collection_period           21519
assets_turnover                 24858
basic_earning_power             23988
cash_ratio                      21871
current_ratio                   20080
debt_ratio                      25090
debt_to_equity                  25080
equity_ratio                    25090
gross_profit_margin             20140
net_inc_margin                  24864
quick_ratio                     21527
return_on_assets                24864
return_on_equity                24864
operating_margin                23988
working_capital                 22089
working_cap_turnover            22089
dtype: int64

In [4]:
df[:2]

,id,items,ticker,competitor,total_receivables,total_assets,cash_and_short_term_inv,total_liabilities,total_debt,total_equity,...,debt_to_equity,equity_ratio,gross_profit_margin,net_inc_margin,quick_ratio,return_on_assets,return_on_equity,operating_margin,working_capital,working_cap_turnover
0,DELLQ32023,Q3 2023,DELL,AAPL,16346.0,85172,4909.0,88641,27329,-3469,...,-7.878063,-24.552321,0.230856,0.009911,0.408695,0.002877,-0.070626,0.030824,-13220.0,-1.869970
1,DELLQ42023,Q4 2023,DELL,AAPL,17763.0,89611,8607.0,92733,29588,-3122,...,-9.477258,-28.703075,0.229881,0.024522,0.510512,0.006852,-0.196669,0.051719,-9303.0,-2.691497

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25090 entries, 0 to 25089
Data columns (total 40 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            25090 non-null  object
 1   items                         25090 non-null  object
 2   ticker                        25090 non-null  object
 3   competitor                    25090 non-null  object
 4   total_receivables             21519 non-null  float64
 5   total_assets                  25090 non-null  int64
 6   cash_and_short_term_inv       21873 non-null  float64
 7   total_liabilities             25090 non-null  int64
 8   total_debt                    25090 non-null  int64
 9   total_equity                  25090 non-null  int64
 10  cost_of_revenue               20156 non-null  float64
 11  gross_profit                  20156 non-null  float64
 12  operating_income              23988 non-null  float64
 13  interest_expense              23988 non-null  float64
 14  interest_coverage             23985 non-null  float64
 15  total_cost_of_revenue         15307 non-null  float64
 16  total_inventory               15306 non-null  float64
 17  inventory_turnover            15305 non-null  float64
 18  total_revenue                 24864 non-null  float64
 19  net_income                    24864 non-null  float64
 20  quick_assets                  21527 non-null  float64
 21  tot_curr_assets               22089 non-null  float64
 22  total_current_liab            22089 non-null  float64
 23  accounts_receivable_turnover  21484 non-null  float64
 24  avg_collection_period         21519 non-null  float64
 25  assets_turnover               24858 non-null  float64
 26  basic_earning_power           23988 non-null  float64
 27  cash_ratio                    21871 non-null  float64
 28  current_ratio                 20080 non-null  float64
 29  debt_ratio                    25090 non-null  float64
 30  debt_to_equity                25080 non-null  float64
 31  equity_ratio                  25090 non-null  float64
 32  gross_profit_margin           20140 non-null  float64
 33  net_inc_margin                24864 non-null  float64
 34  quick_ratio                   21527 non-null  float64
 35  return_on_assets              24864 non-null  float64
 36  return_on_equity              24864 non-null  float64
 37  operating_margin              23988 non-null  float64
 38  working_capital               22089 non-null  float64
 39  working_cap_turnover          22089 non-null  float64
dtypes: float64(32), int64(4), object(4)
memory usage: 7.7+ MB

In [6]:
df.ticker.value_counts()

ticker
NEE     102
ABT      90
RMD      84
ETR      79
EIX      79
       ...
RSI       5
HTOO      3
FIHL      3
HG        3
MRT       2
Name: count, Length: 1262, dtype: int64

In [7]:
df[df.ticker == "NEE"]

,id,items,ticker,competitor,total_receivables,total_assets,cash_and_short_term_inv,total_liabilities,total_debt,total_equity,...,debt_to_equity,equity_ratio,gross_profit_margin,net_inc_margin,quick_ratio,return_on_assets,return_on_equity,operating_margin,working_capital,working_cap_turnover
12042,NEEQ42022,Q4 2022,NEE,EIX,5093.0,158935,1601.0,119706,64966,39229,...,1.656071,4.051467,NaN,0.246918,0.250759,0.009576,0.038798,0.331927,-13205.0,-0.466793
12053,NEEQ12023,Q1 2023,NEE,LNT,3932.0,165357,2275.0,122461,70641,42896,...,1.646797,3.854835,NaN,0.310602,0.244592,0.012615,0.048629,0.438058,-11828.0,-0.567805
12065,NEEQ42023,Q4 2023,NEE,NRG,6040.0,177489,2690.0,130021,73211,47468,...,1.542323,3.739130,NaN,0.175923,0.312198,0.006817,0.025491,0.386740,-12602.0,-0.545786
12071,NEEQ12023,Q1 2023,NEE,PNW,3932.0,165357,2275.0,122461,70641,42896,...,1.646797,3.854835,NaN,0.310602,0.244592,0.012615,0.048629,0.438058,-11828.0,-0.567805
12085,NEEQ12024,Q1 2024,NEE,AEP,5195.0,179950,1642.0,131309,79937,48641,...,1.643408,3.699554,NaN,0.395742,0.275652,0.012604,0.046627,0.351248,-12123.0,-0.472738
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18001,NEEQ12023,Q1 2023,NEE,XEL,3932.0,165357,2275.0,122461,70641,42896,...,1.646797,3.854835,NaN,0.310602,0.244592,0.012615,0.048629,0.438058,-11828.0,-0.567805
18014,NEEQ12024,Q1 2024,NEE,NEE,5195.0,179950,1642.0,131309,79937,48641,...,1.643408,3.699554,NaN,0.395742,0.275652,0.012604,0.046627,0.351248,-12123.0,-0.472738
18025,NEEQ22023,Q2 2023,NEE,AEP,4594.0,168275,1577.0,123482,72173,44793,...,1.611256,3.756725,NaN,0.380324,0.248120,0.016610,0.062398,0.380868,-11749.0,-0.625500
18049,NEEQ12023,Q1 2023,NEE,ETR,3932.0,165357,2275.0,122461,70641,42896,...,1.646797,3.854835,NaN,0.310602,0.244592,0.012615,0.048629,0.438058,-11828.0,-0.567805
18079,NEEQ12024,Q1 2024,NEE,EVRG,5195.0,179950,1642.0,131309,79937,48641,...,1.643408,3.699554,NaN,0.395742,0.275652,0.012604,0.046627,0.351248,-12123.0,-0.472738

In [8]:
df.ticker

0        DELL
1        DELL
2        DELL
3        DELL
4        DELL
         ...
25085     MEG
25086     DRI
25087    IDXX
25088    DXCM
25089     ZTS
Name: ticker, Length: 25090, dtype: object

In [9]:
df['items'].sort_values()

13929    Q1 2001
13880    Q1 2001
13930    Q1 2002
16669    Q1 2002
1157     Q1 2002
          ...
9651     Q4 2024
22765    Q4 2024
6115     Q4 2024
22648    Q4 2024
23749    Q4 2024
Name: items, Length: 25090, dtype: object

In [10]:
qtrs = list(df['items'].replace('.*\s','',regex=True) +" "+ df['items'].replace('\s.*','',regex=True))

In [11]:
df.insert(0,'Qtr', qtrs)

In [12]:
df.sort_values('Qtr',inplace=True)

In [13]:
df.id.value_counts()

id
NEEQ42023       17
NEEQ22023       17
NEEQ42022       17
NEEQ12024       17
NEEQ32023       17
                ..
MASIQ42023       1
EACOQ22023       1
AVTQ22023        1
BRQ42023         1
CAVAQ12024.1     1
Name: count, Length: 7230, dtype: int64

In [16]:
df.drop(['items', 'id'], axis=1, inplace=True)

In [17]:
df[:2]

,Qtr,ticker,competitor,total_receivables,total_assets,cash_and_short_term_inv,total_liabilities,total_debt,total_equity,cost_of_revenue,...,debt_to_equity,equity_ratio,gross_profit_margin,net_inc_margin,quick_ratio,return_on_assets,return_on_equity,operating_margin,working_capital,working_cap_turnover
13929,2001 Q1,FINN,CMA,NaN,9489,NaN,8725,339,764,NaN,...,0.443717,12.420157,NaN,0.153235,NaN,1.72505,21.425393,0.153235,NaN,NaN
13880,2001 Q1,FINN,KEY,NaN,9489,NaN,8725,339,764,NaN,...,0.443717,12.420157,NaN,0.153235,NaN,1.72505,21.425393,0.153235,NaN,NaN

In [29]:
df.count()

Qtr                             25090
ticker                          25090
competitor                      25090
total_receivables               21519
total_assets                    25090
cash_and_short_term_inv         21873
total_liabilities               25090
total_debt                      25090
total_equity                    25090
cost_of_revenue                 20156
gross_profit                    20156
operating_income                23988
interest_expense                23988
interest_coverage               23985
total_cost_of_revenue           15307
total_inventory                 15306
inventory_turnover              15305
total_revenue                   24864
net_income                      24864
quick_assets                    21527
tot_curr_assets                 22089
total_current_liab              22089
accounts_receivable_turnover    21484
avg_collection_period           21519
assets_turnover                 24858
basic_earning_power             23988
cash_ratio                      21871
current_ratio                   20080
debt_ratio                      25090
debt_to_equity                  25080
equity_ratio                    25090
gross_profit_margin             20140
net_inc_margin                  24864
quick_ratio                     21527
return_on_assets                24864
return_on_equity                24864
operating_margin                23988
working_capital                 22089
working_cap_turnover            22089
dtype: int64

In [30]:
df.dropna().count()

Qtr                             14837
ticker                          14837
competitor                      14837
total_receivables               14837
total_assets                    14837
cash_and_short_term_inv         14837
total_liabilities               14837
total_debt                      14837
total_equity                    14837
cost_of_revenue                 14837
gross_profit                    14837
operating_income                14837
interest_expense                14837
interest_coverage               14837
total_cost_of_revenue           14837
total_inventory                 14837
inventory_turnover              14837
total_revenue                   14837
net_income                      14837
quick_assets                    14837
tot_curr_assets                 14837
total_current_liab              14837
accounts_receivable_turnover    14837
avg_collection_period           14837
assets_turnover                 14837
basic_earning_power             14837
cash_ratio                      14837
current_ratio                   14837
debt_ratio                      14837
debt_to_equity                  14837
equity_ratio                    14837
gross_profit_margin             14837
net_inc_margin                  14837
quick_ratio                     14837
return_on_assets                14837
return_on_equity                14837
operating_margin                14837
working_capital                 14837
working_cap_turnover            14837
dtype: int64

In [26]:
for col in df.columns:
    if '' in col:
        print(col)